#navigation{
    background-image: url(/download\ \(2\).jpeg);
    background-repeat: no-repeat;
    background-position: center;
    height: 180px;
    width: auto;
    text-align: center;
}
.header {
    text-align: center;
}
.forms{
    text-align: center;
}
