h1{
    background-image: url("/images/download\ \(2\).jpeg");
    height: 180px;
    background-position: center;
    text-align: center;
    background-color: #ccffbd;
    font-family: monospace;
    font-style: bold;
    background-repeat: no-repeat;
}
#container{
    text-align: center;
    color: white;
    background-color: #40394a
}